@model ModulePDF.Models.FilePDFViewModels

@{
    ViewBag.Title = "FilePDFDetail";
}

<div>
    <label for="id-user-create">User Login</label>
    <input type="number" id="id-user-create" value="1000" />
</div>
<h1>@Model.FilePDF.FileName</h1>

<div class="group-btn">
    <button class="btn-show-cmt">Comment: Off</button>
    <button class="btn-prev">Prev</button>
    &nbsp; &nbsp;
    <span>Page: <span class="page-num"></span> / <span class="page-count"></span></span>
    &nbsp; &nbsp;
    <button class="btn-next">Next</button>
</div>

<div id="wrap-pdf">
    <div id="context-menu">
        <textarea id="content-cmt"></textarea>
        <i class="fas fa-window-close"></i>
        <div class="action-btn">
            <button id="btn-add-comment"><i class="fas fa-save" ></i></button>
            <button id="btn-del-comment"><i class="fas fa-trash" ></i></button>
        </div>
    </div>
    <canvas id="the-canvas"></canvas>
    <div id="comment-wrap">
    </div>
</div>

<div class="group-btn">
    <button class="btn-show-cmt">Comment: Off</button>
    <button class="btn-prev">Prev</button>
    &nbsp; &nbsp;
    <span>Page: <span class="page-num"></span> / <span class="page-count"></span></span>
    &nbsp; &nbsp;
    <button class="btn-next">Next</button>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script>
    var idFilePDF = @Model.FilePDF.IdFilePDF;
    var url = "@Url.Content(Model.FilePDF.PathFile)";
</script>
<script src="@Url.Content("/Scripts/handle-pdf.js")"> </script>
