@model ModulePDF.Models.FilePDFViewModels

@{
    ViewBag.Title = "FilePDFDetail";
}

<div>
    <label for="idUserCreate">User Login</label>
    <input type="number" id="idUserCreate" value="1000" />
</div>
<h1>@Model.FilePDF.FileName</h1>

<div class="btnGroup">
    <button class="showCmt">Comment: Off</button>
    <button class="prev">Prev</button>
    &nbsp; &nbsp;
    <span>Page: <span class="page_num"></span> / <span class="page_count"></span></span>
    &nbsp; &nbsp;
    <button class="next">Next</button>
</div>

<div id="wrap">
    <div id="contextmenu">
        <textarea id="contentCmt"></textarea>
        <i class="fas fa-window-close"></i>
        <div class="actionBtn">
            
            <i class="fas fa-save" id="addComment"></i>
            <i class="fas fa-trash" id="delComment"></i>
        </div>
    </div>
    <canvas id="the-canvas"></canvas>
    <div id="commentdiv">
        @*@{ var i = 0;}
        @foreach (var item in Model.ListComments)
        {
            var top = item.PositionY + "px";
            var left = item.PositionX + "px";
            var id = item.IdComment + "-" + item.IdUserCreate;
            <div class="comments" id="@id" style="top: @top; left: @left ">
                <p>
                    @item.ContentCmt
                </p>
            </div>
            i = i + 1;
        }*@
    </div>
</div>

<div class="btnGroup">
    <button class="showCmt">Comment: Off</button>
    <button class="prev">Prev</button>
    &nbsp; &nbsp;
    <span>Page: <span class="page_num"></span> / <span class="page_count"></span></span>
    &nbsp; &nbsp;
    <button class="next">Next</button>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script>
    var idFilePDF = @Model.FilePDF.IdFilePDF;
    var url = "@Url.Content(Model.FilePDF.PathFile)";
</script>
<script src="@Url.Content("/Scripts/handle-pdf.js")"> </script>
